@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/1.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

main::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -2;
}

main h1 {
    color: rgb(95, 184, 243);
    font-family: 'nunito';
    text-transform: uppercase;
}

main h3 {
    font-family: 'nunito';
    color: rgb(233, 233, 233);
}

main h3 span {
    font-family: 'Raleway';
}

main h3 span .inner-text {
    color: rgb(72, 253, 253);
    text-transform: uppercase;
    padding-right:.2rem;
    border-right: 2px solid rgba(218, 218, 218, 0.8);
    animation: blinkCursor 750ms linear infinite;
}

@keyframes blinkCursor {
    to {
        border-right-color: rgba(255, 255, 255, 0.1);
    }
}

@media (min-width: 75rem) {
    main h1 {
        font-size: 5rem;
    }
    main h3 {
        font-size: 2.5rem;
    }
}

@media (max-width: 75rem) {
    main h1 {
        font-size: 4rem;
    }
    main h3 {
        font-size: 2rem;
    }
}

@media (max-width: 48rem) {
    main h1 {
        font-size: 3.5rem;
    }
    main h3 {
        font-size: 1.75rem;
    }
}

@media (max-width: 31.25rem) {
    main h1 {
        font-size: 2.5rem;
    }
    main h3 {
        font-size: 1.5rem;
    }
}

/* later - use clamp for font sizes */