*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: inline-block;
}

.post {
    height: fit-content;
    width: 90vw;
    font-family: 'nunito';
    padding: .5rem 0;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.post__info{
    display: flex;
    width: 100%;
    padding: .25rem 1rem 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.post__authorProfile {
    display: flex;
    align-items: center;
}

.post__authorProfile img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.post__authorInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: auto;
    margin-left: 1rem;
}

.post__author {
    font-family: 'poppins';
    font-weight: 500;
}

.post__tagline {
    color: #333;
}

.post__optionBtn {
    font-size: 1.75rem;
    transform: rotate(90deg);
    margin-right: 1rem;
    color: #333;
}

.post__image{
    position: relative;
    height: auto;
    width: 100%;
    margin: 1rem auto 1.5rem;
    text-align: center; /*if the image size is smaller than the container then the image should be centered*/
}

.post__image img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

.post__image .heart {
    position: absolute;
    animation: showHeart .6s linear;
    color: hsl(0, 100%, 60%);
    transform: translate(-50%,-50%) scale(0);
}

@keyframes showHeart {
    to {
        transform: translate(-50%,-50%) scale(10);
        opacity: 0;
    }
}

.post__description {
    margin-bottom: .5rem;
    padding: 0 1rem;
}

.post__description span {
    color: steelblue;
    cursor: pointer;
}

.post__interactors {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    width: 100%;
}

.post__interactors .like {
    display: flex;
    align-items: center;
}

.post__interactors i {
    font-size: 1.5rem;
    color: rgb(231, 231, 231);
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #555;
    cursor: pointer;
    /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}

.post__interactors i.fa-heart.active {
    -webkit-text-fill-color: hsl(0, 100%, 60%);
    -webkit-text-stroke-color: #fff;
}
.post__interactors i.fa-bookmark.active {
    -webkit-text-fill-color: steelblue;
    -webkit-text-stroke-color: #fff;
}
