*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'nunito';
}

img {
    max-width: 100%;
}

.card {
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.card__header {
    height: 200px;
}

.card__header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__content {
    padding: 15px 25px;
    background-color: #fff;
}

.card__title {
    font-family: 'poppins';
    line-height: 1.5rem;
}

.card__excerpt {
    color: #555;
    margin: 5px 0 20px;
}

.card__author {
    display: flex;
    align-items: center;
}

.author__profile-img {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.author__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 150px;
}

.loader-bg {
    background-image: 
    linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 15%,
        #f6f7f8 20%,
        #f6f7f8 100%
    );
    background-size: 200% 100%;
    animation: loaderBg 1s linear infinite;
}

.loader-text-bg {
    display: inline-block;
    height: 10px;
    width: 100%;
}


@keyframes loaderBg {
    0% {
        background-position: 50% 0;
    }
    100% {
        background-position: -150% 0;
    }
}