@import url('https://fonts.googleapis.com/css2?family=Geo&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --primary: #34393F;
    --secondary: hsl(189, 100%, 50%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.container {
    min-width: 320px;
    background-color: var(--primary);
    color: #fff;
    padding: 1rem;
    border-radius: 3px;
}


.container .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.top-nav .logo {
    font-family: 'Geo', sans-serif;
    font-size: 1.75rem;
    color: var(--secondary);
}

.top-nav .hamburger-container {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: block;
}

.hamburger {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hamburger, .hamburger::before, .hamburger::after {
    position: absolute;
    width: 30px;
    height: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}

.hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
}

.hamburger::before {top: .5rem;}
.hamburger::after {bottom: .5rem;}


.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group #result {
    width: 100%;
    padding: .6rem .8rem;
    border: 0;
    border-radius: 5px;
    border-bottom: 3px solid var(--secondary);
    background: #34393F;
    box-shadow: inset 4px 4px 9px #2b2f34,
                inset -4px -4px 9px #3d434a;
    outline: 0;
    font-size: 1.1rem;
    font-family: 'poppins';
    color: #fff;
    pointer-events: none;
    user-select: none;
}

.form-group .result-modifiers{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.form-group .result-modifiers i {
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 1rem;
}

#main .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*.actions .password-actions {
}*/

.actions i{
    padding:.8rem 1rem;
    border-radius: 5px;
    background: linear-gradient(145deg, #383d43, #2f3339);
    box-shadow:  3px 3px 5px #292c31,
    -3px -3px 5px #3f464d;
}

.actions i.previous {
    margin-right: .75rem;
}

.actions .history {
    margin-left: auto;
}

