*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
}

:root {
    --primary: #181527;
    --dark: #17263b;
    --light: #2e4b74;

    --text: #cfcde7;
    --bg-light: #e4e2f5;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    background-color: var(--bg-light);
}

header.nav-active .sidebar{
    width: 8%;
}

header.nav-active .sidebar__logoImg {
    margin: 0 ;
}
header.nav-active .sidebar__logoText {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
header.nav-active .hide {
    opacity: 0;
    transition: .3s ease;
}

.sidebar {
    /* here position:sticky is better since the sticky elements stay in the document flow */
    position: sticky;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background-color: var(--primary);
    padding: 2rem;
    transition: .3s ease;
}

/* logo and collapse btn */
.sidebar__top {
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar__logoImg {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.sidebar__logoText {
    margin-left: 1rem;
    font-size: 1.35rem;
    transition: opacity .2s ease .15s;
}

.sidebar__search {
    min-height: 2.7rem;
    margin: 2rem 0 1.7rem;
    display: grid;
    grid-template-columns: 2.7rem 1fr;
    align-items: center;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    background-color: var(--light);
}

.sidebar__search .searchbar {
    border: 0;
    outline: 0;
    height: 100%;
    background-color: transparent;
    width: 100%;
    color: #fff;
    font-family:  'nunito', sans-serif;
    padding-right: 1rem;
}
.sidebar__search .searchbar, .sidebar__search .searchbar::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
}
.sidebar__search .searchbar::placeholder {
    color: var(--text);
}
