@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Poppins:wght@200;300;400;500;600;700&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    display: inline-block;
    max-width: 100%;
}

:root {
    --primary: #272d3f;
    --dark: #18253a;
    --light: #2d4c7ab0;

    --text: #b8b6cc;
    --bg-light: #e4e2f5;

    --custom-clr: #2DF8BB;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}

header {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-light);
}

header.nav-active .sidebar{
    width: 8%;
}

header.nav-active .sidebar__togglebtn i {
    transform: rotate(180deg);
}

header.nav-active .sidebar__logoImg {
    margin: 0;
}
header.nav-active .sidebar__logoText {
    opacity: 0;
    pointer-events: none;
}

header.nav-active .tooltip{
    opacity: 1;
    pointer-events: all;
}

header.nav-active .hide {
    opacity: 0;
    transition: .3s ease;
}

.sidebar {
    position: sticky;
    width: 20%;
    max-height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background-color: var(--primary);
    padding: 2rem;
    transition: .3s ease;
}

.sidebar__top {
    position: relative;
    display: flex;
    align-items: center;
}

.sidebar__logoImg {
    width: 2.75rem;
    height: 2.75rem;
    cursor: pointer;
}

.sidebar__logoText {
    margin-left: 1rem;
    font-size: 1.35rem;
    transition: opacity .2s ease .15s;
}

.sidebar__togglebtn {
    position: absolute;
    padding: .35rem .75rem;
    background-color: var(--primary);
    right: -4.25rem;
    border-radius: .35rem;
    cursor: pointer;
    transform: translateX(-8px);
    opacity: 0;
    transition: .3s ease-in-out;
    pointer-events: none;
}

.sidebar__togglebtn:hover {
    background-color: var(--dark);
}

.sidebar__togglebtn i {
    font-size: 1.1rem;
    transition: .3s ease;
}

.sidebar:hover .sidebar__togglebtn, .sidebar__togglebtn.active {
    transform: translateX(0px);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    opacity: 1;
    pointer-events: all;
}

.sidebar__togglebtn:active {
    transition: transform 2s ease-in-out;
    padding: .3rem .675rem;
}

.sidebar::before {
    content: '';
    position: absolute;
    width: 2.25rem;
    height: 100%;
    top: 0;
    left: 100%;
}

.sidebar__search {
    min-height: 2.7rem;
    margin: 2rem 0 1.7rem;
    display: grid;
    grid-template-columns: 2.7rem 1fr;
    align-items: center;
    cursor: pointer;
    text-align: center;
    border-radius: 100px;
    background-color: var(--light);
}

.sidebar__search .searchbar {
    border: 0;
    outline: 0;
    height: 100%;
    background-color: transparent;
    width: 100%;
    color: #fff;
    font-family:  'nunito', sans-serif;
    padding-right: 1rem;
}
.sidebar__search .searchbar, .sidebar__search .searchbar::placeholder {
    font-size: 1.1rem;
    font-weight: 500;
}
.sidebar__search .searchbar::placeholder {
    color: var(--text);
}

.sidebar__items {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 63vh;
    padding-bottom: .25rem;
    padding-right: 1rem;
    margin-right: -1.5rem;
    color: rgba(0, 0, 0, 0);
    transition: color .3s ease;
}

.sidebar__items:hover {
    color: #ffffff4f;
}

.sidebar__items::-webkit-scrollbar {
    width: .5rem;
}

.sidebar__items::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
    border-radius: 50px;
}
.sidebar__items::-webkit-scrollbar-thumb:hover {
    border-radius: 50px;
}

.sidebar__items ul {
    position: relative;
}

/* second selector is for the filtered list */
.sidebar__items ul li:first-of-type a, .sidebar__items ul li[data-active="0"] a {
    margin-top: -1rem;
}

.sidebar__items ul li:last-of-type a {
    margin-bottom: -1rem;
}

.sidebar__items ul li{
    position: relative;
    margin: 1rem 0;
    border-radius: 8px;
    transition: .5s ease;
}

.sidebar__items ul li.hide {
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    margin: 0;
    padding: 0;
}
/* to avoid extra padding&margin after filter */
.sidebar__items ul li.hide a {
    margin: 0;
    padding: 0;
}

.sidebar__items ul li a{
    position: relative;
    min-height: 3rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 3rem 1fr;
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    font-family: 'nunito';
    border-radius: inherit;
    text-transform: uppercase;
    color: var(--text);
    background-color: #141d2e44;
    transition: .2s ease .3s;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar__items ul li a.active::before, .sidebar__items ul li a.active::after  {
    display: none;
}

.sidebar__items ul li a::before {
    position: absolute;
    content: '';
    top: 0%;
    right: 0;
    width: 0;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #5489d3;
    transition: width .3s ease .4s, top .3s ease .7s, opacity .1s ease 1s;
}

header.nav-active .sidebar__items ul li a:hover::before {
    animation: toggleWidth .5s ease .4s, toggleTop .3s ease .7s, toggleOpacity .1s ease 1s;
}

@keyframes toggleWidth {
    to {
        width: 5px;
    }
}
@keyframes toggleTop {
    to {
        top: 85%;
    }
}
@keyframes toggleOpacity {
    to {
        opacity: 0;
    }
}

header.nav-active .sidebar__items ul li a.after::after {
    position: absolute;
    content: '';
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #5489d3;
    transition: height .3s ease .8s;
}

.sidebar__items ul li a.after:hover::after {
    animation: toggleHeight .3s ease .8s forwards;
}
@keyframes toggleHeight {
    to {
        height: 5px;
    }
}

.sidebar__items ul li a img {
    filter: invert(43%) sepia(1%) saturate(3663%) hue-rotate(209deg) brightness(102%) contrast(81%);
    width: 2.5em;
    height: 2.5em;
    padding: .5em;
    transition: filter 0s ease .2s;
}

.sidebar__items ul li a .text{
    text-align: left;
    transition: color .3s ease .3s, font-weight .3s ease .3s;
}

.sidebar__items ul li a.active img {
    filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(72deg) brightness(99%) contrast(99%)
}

.sidebar__items ul li a.active .text{
    color: #fff;
    font-weight: bold;
}

.active-tab {
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    background-color: #5489d3;
    position: absolute;
    top: 0;
    left: 0;
    transition:transform .3s ease-in-out;
}

.tooltip {
    position: absolute;
    top: calc(100% - 74.5%);
    right: -7rem;
    display: flex;
    flex-direction: column;
    height: 63vh;
    padding-bottom: .5rem;
    padding-left: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.tooltip::-webkit-scrollbar {
    width: 0;
}

.tooltip span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 1rem;
    width: 6rem;
    margin-bottom: 1rem;
    background-color: var(--primary);
    opacity: 0;
    transform: translateX(-100%);
    pointer-events: none;
    transition: .3s ease;
    position: relative;
}

.tooltip span div {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    transform-origin: top left;
    background: #5489d3;
    z-index: -1;
    transition: .3s ease .1s;
}

.tooltip span::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-right-color: var(--primary);
    left: -1rem;
    transition: border-right-color .3s ease .2s;
    z-index: -2;
}

.tooltip span:first-of-type {
    margin-top: 0rem;
}

.tooltip span:last-of-type {
    margin-bottom: 0rem;
}

.tooltip span.active {
    opacity: 1;
    transform: translateX(0) scale(1);
}

.tooltip span.active::after {
    border-right-color: #5489d3;
}

.tooltip span.active div {
    width: 5%;
}