*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

#spaceStation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counter {
    position: relative;
    height: 100vh;
    width: 400px;
}

#spaceStation h1 {
    text-align: center;
    font-family: 'nunito';
    position: absolute;
    top: 20%;
    font-size: 3rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #d9d9d9 0%, rgba(0,0,0,0.5), 30%, #d9d9d9 40%, #d9d9d9 100%);
    background-size: 450px 400px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: skeload 5s linear infinite;
}

@keyframes skeload {
    0% {
        background-position: -450px 0;
    } 
    100% {
        background-position: 450px 0;
    }
}

.counter__initial, .counter__final {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
}

.counter__initial {
    text-align: center;
    transform: translate(-50%,-50%) scale(1);
}

.counter__initial h3, .counter__final h3{
    font-size: 1.25rem;
}

.counter__initial.hide {
    transform-origin: top;
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate(-50%,-50%) scale(0);
}

.counter__final {
    transform: translate(-50%,-50%) scale(0);
}

.counter__final.show {
    transform-origin: bottom;
    transform: translate(-50%,0%) scale(1);
    transition: transform .5s cubic-bezier(1, 0, 0, 1);
}

.counter__countdownNumbers {
    color: rgb(84, 120, 185);
    font-size: 3.5rem;
    width: 100%;
    height: 50px;
    padding: 2rem 0;
    font-family: 'nunito';
    overflow: hidden;
    position: relative;
}

.counter__countdownNumbers span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(140deg);
    transform-origin: bottom center;
}

.counter__countdownNumbers span.fill {
    transform: translate(-50%,-50%) rotate(0deg);
    animation: rotateIn .5s ease-in-out;
}

.counter__countdownNumbers span.pop {
    animation: rotateOut .5s ease-in-out;
}


.counter__final .relaunchBtn {
    position: relative;
    padding: 1rem ;
    margin-top: 1rem;
    width: max-content;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(89, 81, 160);
    font-size: 1.1rem;
    cursor: pointer;
    transition: padding-right .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.counter__final .relaunchBtn span {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.counter__final .relaunchBtn:hover {
    padding-right: 3rem;
}

.counter__final .relaunchBtn i{
    right: -1rem;
    opacity: 0;
    position: absolute;
    transform: rotate(-90deg);
    transition: right .3s ease, opacity .3s ease;
}

.counter__final .relaunchBtn:hover i {
    right: 1rem;
    opacity: 1;
    animation: floatShip 1.5s .3s ease-in-out infinite;
}

@keyframes floatShip {
    0% {
        transform: translateY(0px) rotate(-90deg);
    } 
    50% {
        transform: translateY(-7px) rotate(-90deg);
        box-shadow: -18px 8px 15px rgba(0, 0, 0, 0.2),
                    -18px -8px 15px rgb(0, 0, 0, 0.2);
    } 
    100% {
        transform: translateY(0px) rotate(-90deg);
    }
}


@keyframes rotateIn {
    0% {
        transform: translate(-50%,-50%) rotate(140deg);
    }
    30% {
        transform: translate(-50%,-50%) rotate(-20deg);
    }
    60% {
        transform: translate(-50%,-50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(0);
    }
}

@keyframes rotateOut {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    60% {
        transform: translate(-50%,-50%) rotate(20deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(-140deg);
    }
}

.counter__initial h3 {
    font-family: 'poppins';
}

@media screen and (max-width:520px) {
    #spaceStation h1 {
        font-size: 2.15rem;
    }
}
@media screen and (max-width:320px) {
    #spaceStation h1 {
        font-size: 1.15rem;
    }
}