*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.counter {
    position: relative;
    height: 100vh;
    max-width: 320px;
}

.counter__initial, .counter__final {
    position: absolute;
    top: 50%;
    left: 50%;
}

.counter__initial {
    text-align: center;
    transform: translate(-50%,-50%) scale(1);
}

.counter__initial.hide {
    transform-origin: top;
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    transform: translate(-50%,-50%) scale(0);
}

.counter__final {
    transform: translate(-50%,-50%) scale(0);
}

.counter__final.show {
    transform-origin: bottom;
    transform: translate(-50%,0%) scale(1);
    transition: transform .5s cubic-bezier(1, 0, 0, 1);
}