*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #091921;
    transition: .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), border .1s linear;
}

body.active-theme {
    background-color: #eee;
}

.theme {
    position: fixed;
    top: 10vh;
    right: 30vw;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
}

body .theme {
    border: 2px solid #adadad;
    background-color: #fff;
}

body.active-theme .theme {
    border: 2px solid #a5a5a5;
    background-color: #091921;
}

.theme::after {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    width: 100px;
    cursor: pointer;
}

body.active-theme .theme::after {
    content: 'Dark Mode';
    color: #222;
}

body .theme::after {
    content: 'Light Mode';
    color: #fff;
}

.clock {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 280px;
    height: 280px;
    background-image: url(assets/clock.png);
    background-size: cover;
    border-radius: 50%;
    border: 10px solid hsl(202, 58%, 8%);
}

body .clock {
    box-shadow: inset 3px 3px 7px #040a0d,
            inset -3px -3px 7px #0e2835,
            0px 14px 10px rgba(0, 0, 0, 0.5);
}

body.active-theme .clock {
    border: 10px solid #ddd;
    box-shadow: inset 3px 3px 7px #aeaeae,
            inset -4px -4px 7px #ffffff,
            0px 14px 10px rgba(0, 0, 0, 0.175);
}

.clock::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

.clock .hour, .clock .minute, .clock .seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock .hour .hr {
    width: 130px;
    height: 130px;
}

.clock .minute .min {
    width: 190px;
    height: 190px;
}

.clock .seconds .sec {
    width: 230px;
    height: 230px;
}

.hr, .min, .sec {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hr::before {
    content: '';
    position: absolute;
    top: 0px;
    width: 7px;
    height: 70px;
    border-radius: 100% 100% 0 0;
    z-index: 1;
    background-color: hsl(199, 79%, 58%);
}

body.active-theme .hr::before {
    background-color: #6d1750;
}

.min::before {
    content: '';
    position: absolute;
    top: 10px;
    width: 4px;
    height: 80px;
    border-radius:50% 50% 0 0px;
    z-index: 2;
    background-color: rgb(155, 222, 248);
}

body.active-theme .min::before, body.active-theme .clock::before {
    background-color: #1c485e;
}

.sec::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 2px;
    height: 120px;
    border-radius: 5px;
    z-index: 3;
    background-color: rgb(185, 57, 110);
}

body.active-theme .sec::before {
    background-color: #61bdd4;
}

.dateStuff {
    position: absolute;
    bottom: 50px;
    font-family: 'nunito';
    text-align: center;
}

.dateStuff .time {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: .3rem 1rem;
    border-radius: 3px;
    color: #fff;
    background-color: #1c485e;
}

.dateStuff .fullDay {
    color: #ddd;
    font-size: 1.1rem;
}

body.active-theme .dateStuff .fullDay {
    color: #333;
}