*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --muted: rgb(155, 155, 155);
    --active-color: #e94b80;
}

input::placeholder {
    color: transparent;
}

body {
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    /* background-color: #36393F; */
    background: #485563; 
    background: -webkit-linear-gradient(to right, #29323c, #485563); 
    background: linear-gradient(to right, #29323c, #485563);

}

header {
    position: relative;
    height: 18vh;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 5px 8px black;
    background: #E0EAFC;
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    transition: .3s ease-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

nav .title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'nunito';
    color: #29323c;
}

.title span {
    font-weight: bold;
}

nav form {
    width: 50%;
}

nav .searchbox {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
}

nav #search {
    font-family: 'poppins';
    font-size: 1rem;
    width: 100%;
    padding-left: .5rem;
    height: 2.1rem;
    transition: .3s ease;
    border: 0;
    border-radius: 5px;
    border-bottom: 2px solid var(--muted);
    color: #222;
    background: #fff;
}

nav .searchbox .search-icon {
    box-sizing: initial;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    color: var(--muted);
    top: 50%;
    right: -.5%;
    transform: translateY(-50%);
    background-color: var(--muted);
    border-radius: 0px 5px 5px 0;
    border-bottom: 2px solid var(--muted);
    transition: .3s ease;
}

nav .searchbox .search-icon img {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.searchbox label {
    font-family: 'nunito';
    color: var(--muted);
    position: absolute;
    left:1%;
    pointer-events: none;
}

.searchbox label span {
    display: inline-block;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.searchbox #search:focus, .searchbox #search:required:valid, .searchbox #search:not(:placeholder-shown){
    outline: 0;
    background-color: rgb(231, 231, 231);
    border-color: steelblue;
}

.searchbox #search:focus ~ .search-icon, 
.searchbox #search:not(:placeholder-shown) ~ .search-icon{
    background-color: steelblue;
    border-bottom: 2px solid steelblue;
}

.searchbox #search:focus + label span, 
.searchbox #search:required:valid + label span {
    color: steelblue;
    transform: translateY(-1.6rem);
}

.searchbox #search:not(:placeholder-shown) + label {
    transform: translateY(0rem);
}

/* user-card styles */

#main {
    position: absolute;
    display: grid;
    place-items: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-60%);
    width: 80%;
    height: 20rem;
}

#main .emtpy-state {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%,-0%);
    pointer-events: none;
}

#main .emtpy-state h1 {
    font-family: 'nunito';
    text-align: center;
    color: rgb(29, 30, 34);
}

.emtpy-state img {
    width: 25rem;
    height: 25rem;
    opacity: .25;
}

#main .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-radius: 10px;
    height: 100%;
    background-color: #272c30;
}

.card .profile {
    position: relative;
    bottom: 30%;
    transform: translateY(30%);
    height: 10rem;
    width: 10rem;
}

.card .user-img {
    border-radius: 50%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 5px solid #232527;
    box-shadow: 0px 10px 15px #1b1c1d;
}

.card .user-info {
    position: relative;
    width: 90%;
    top: -10%;
    font-family: 'nunito';
    color: #fff;
}

.card .user-info .stats, .card .user-info .repos-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.stats li{
    width: 30%;
    padding: .5rem 0;
    font-size: 1.05rem;
    color: #fff;
    background-color: rgb(39, 44, 48);
    border-radius: 5px;
    background: linear-gradient(145deg, #2a2f33, #23282b);
    box-shadow:  2px 2px 5px #212529,
                -2px -2px 5px #2d3337;
}

.stats a {
    display: block;
    padding-top: .5rem;
    color: #fff;
}

.card .user-info .name {
    margin-top: 1.5rem;
    font-family: 'poppins';
}

.card .user-info .bio {
    color: #ddd;
}

.card .user-info .repos-info {
    margin-top: 1.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: .3rem;
}

.repos-info li a {
    padding: .5rem .8rem;
    border-radius: 5px;
    color: rgb(0, 137, 250);
    background-color: #ddd;
}

@media screen and (max-width:720px) {
    header {
        height: 12vh;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.301);
    }

    #main {
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .card .user-img {
        width: 9rem;
        height: 9rem;
        bottom: 10%;
        transform: translateY(20%);
    }

    .card .user-info .stats {
        margin-top: -1rem;
    }

    .card .user-info .stats li a {
        font-size: 1rem;
    }
    .card .user-info .bio {
        font-size: .9rem;
    }
    .card .user-info .repos-info li {
        margin-top: 1.5rem;
    }
}