*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'poppins','nunito',serif;
}

.banner {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) ,url("./bg.jpg") center center / cover;
    position: absolute;
    top: -30px;
    left: -30px;
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
    z-index: -1;
}

.loading-info {
    color: #fff;
    font-size: 1.25rem;
}